<div class="section wf-section">
    <div class="pagecontainer special">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h2 class="heading">{{ texts.1fd568c7 }}<span class="text-span-4">{{ texts.-489b3dc6 }}</span></h2>
        </div>
        <div class="w-col w-col-6">
          <p class="paragraph-2">{{ texts.-7b68e98d }}</p>
          <div class="cta-button">
            <a href="{{ links.-42b533b7 }}" class="primarybutton w-button">{{ texts.-792a8014 }}</a>
            <a href="{{ links.-657f2654 }}" class="primarybutton specmargin w-button">{{ texts.-6b40da59 }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>