<div data-w-id="60c18f9b-7c4d-58e0-b238-018aa1cc206e" class="header-wrapper header-loader" data-ix="logo-animation">
    <a href="{{ links.2f }}" aria-current="page" class="w-inline-block w--current">
      <div class="link-wrapper">
        <div class="animations-maske" data-ix="logo-maske">
          <div class="logo logo-loader"></div>
        </div>
        <div class="logo"></div>
      </div>
    </a>
    <div class="link-wrapper">
      <a href="{{ links.-2a7895ce }}" target="_blank" class="instagram">{{ texts.559c0b34 }}</a>
      <a href="{{ links.421d34d4 }}" target="_blank" class="instagram">{{ texts.792b2792 }}</a>
    </div>
    <div class="iconholder">
      <a href="{{ links.-2a7895ce }}" class="icon w-inline-block"><img src="{{ images.3313d070.url }}" loading="lazy" height="20" alt="{{ images.3313d070.alt | trim | escape }}" class="icons"></a>
      <a href="{{ links.421d34d4 }}" class="icon w-inline-block"><img src="{{ images.2dcab44e.url }}" loading="lazy" height="25" alt="{{ images.2dcab44e.alt | trim | escape }}"></a>
    </div>
  </div>